{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg_img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">FAQs</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- *****Blog Area Start ***** -->
  <section class="dento-blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'website/img/bg_img/16.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a class="post-title">Why do my teeth darken ?</a>
              <section>
                <details>
                  <summary> <p style = "display: inline;"> Many factors work to destroy the naturally white smile you were born with.</p></summary>
                  <p>because sipping your drinks is something that you should avoid</p>
                </details>
              </section>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'website/img/bg_img/17.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a class="post-title">What is the best kind of toothpaste to use?</a>
              <section>
                <details>
                  <summary> <p style = "display: inline;"> factors work to destroy the naturally white smile you were born with.</p></summary>
                  <p>because sipping your drinks is something that you should avoid</p>
                </details>
              </section>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'website/img/bg_img/18.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a class="post-title">Why you should avoid sipping your drinks</a>
              <section>
                <details>
                  <summary> <p style = "display: inline;"> Many factors work to destroy the naturally white smile you were born with.</p></summary>
                  <p>because sipping your drinks is something that you should avoid</p>
                </details>
              </section>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a>
                <img src="{% static 'website/img/bg_img/19.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a class="post-title">How long does numbness last after the dentist?</a>
              <section>
                <details>
                  <summary> <p style = "display: inline;"> Many factors work to destroy the naturally white smile you were born with.</p></summary>
                  <p>because sipping your drinks is something that you should avoid</p>
                </details>
              </section>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a>
                <img src="{% static 'website/img/bg_img/20.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a class="post-title">How beatiful is my dog ?</a>
              <section>
                <details>
                  <summary> <p style = "display: inline;"> Many factors work to destroy the naturally white smile you were born with.</p></summary>
                  <p>because sipping your drinks is something that you should avoid</p>
                </details>
              </section>

            </div>
          </div>

          <!-- Pagination -->
          <nav class="dento-pagination mb-100">
            <ul class="pagination">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="{% url 'faq-page=2' %}">2</a></li>
            </ul>
          </nav>
        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <!-- Single Widget Area -->
            <div class="single-widget-area news-widget">
              <h5 class="widget-title">Intresting Facts</h5>

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg_img/21.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a class="post-title">Your smile is a strong point of attraction. 61% of adults admit that they are attracted to somebody's smile alone.</a>
                </div>
              </div>

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg_img/22.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a class="post-title">One of the most common effects of poor dental hygiene is bad breath. Over 90% of bad breath originates in the mouth.</a>
                </div>
              </div>

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg_img/23.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a class="post-title">More people use blue toothbrushes than red ones.</a>
                </div>
              </div>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="{% static 'website/img/bg_img/adds.png' %}" alt=""></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****Blog Area End ***** -->
{% endblock %}